main {
   color: grey;
   font-family: "Outfit";
   font-size: 1.5rem;
   margin: 0em 2em;
   padding-bottom: 2em;
}
main nav li {
   font-size: 1rem;
}
main nav li:hover {
   color: black;
}
.note {
   border-color: grey;
   border-style: solid;
}
