/*MAIN-NAV*/
.main-nav {
   background-color: var(--color-primary);
   margin-right: 20vw;
   position: sticky;
   top: 0;
   width: 100%;
   z-index: 10;
}
.main-nav li:hover {
   background-color: var(--color-accent);
   transition: ease;
}
/*HERO-SECTION*/
.hero {
   align-items: center;
   display: flex;
   height: 56.2vw;
   margin: 0vw 20vw;
}
.hero h1 {
   font-family: "Outfit";
   font-size: 5em;
}
.hero p {
   font-family: "Outfit";
   font-size: 2em;
}
